# Node dependencies
node_modules/

# Output directory for TypeScript
dist/

# Environment variable files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system directories
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock

# Test cover
