* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #2e2e2e;
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  min-height: calc(100vh - 54px - 108px);
  margin: 0 auto;
  background-color: #646464;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container {
  padding: 20px;
  border-radius: 8px;
  background-color: #3b3b3b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
